<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <title>NINA Theme – Free HTML theme</title>
    
    <script src="http://cdn.jquerytools.org/1.2.7/full/jquery.tools.min.js"></script>
    
    <link rel="stylesheet" href="reset.css" type="text/css">
    <link rel="stylesheet" href="styl.css" type="text/css">
        
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400,600,700&subset=latin,latin-ext' rel='stylesheet' type='text/css'>

</head>

<body>
    
    <!-- *********  Header  ********** -->
    
    <div id="header">
        <div id="header_in">
        
        <h1><a href="index.html"><b>DANSON</b> LIGHTING</a></h1>
        
        <div id="menu">
         <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="about.html">About</a></li>
            <li><a href="blog.html">Blog</a></li>
            <li><a href="contact.html">Contact</a></li>            
            <li><a href="login.html" class="active">Login</a></li>       
         </ul>
        </div>
        
        </div>
    </div>
    
    <!-- *********  Main part – headline ********** -->
    
        
        <div id="main_part_inner">
                       
        </div>
        
        
        <!-- *********  Content  ********** -->
        
        <div id="content_inner">
            
            <!-- *** contact form *** -->
           <div id="passtitle">
           <div id="space"></div>
           
           <form action="#" method="post" class="formit" id="passblock">
           		<label>Username</label>&nbsp;&nbsp;
                <input type="text" name="name" placeholder="USERNAME"/><br>
                <label>Password</label>&nbsp;&nbsp;
                <input type="text" name="pass" placeholder="PASSWORD"/><br>
                <input type="submit" class="button_submit" value="SIGN IN">
            </form>

            <div class="cara"></div>
            

            <h3>Dont have an account</h3>
            <form action="register.html">
            	
            	<input id="bigbutton" type="submit" value="GET STARTED" />
            </form>
            
            </div>


           
            
            
            
        </div>
        
    
    
    <!-- *********  Footer  ********** -->
    
    <hr class="cleanit">
    
     <div id="footer">
        <div id="footer_in">            
            <span>Author: <a href="http://ries.cz">VIIT</a></span>        
        </div>
    </div>
         
<script>
// script for testimonial' tabs
$(function() {
    $("ul.controls").tabs("div.testimonials > div");
});
</script>

</body>
</html>
